/* Tailwind imports */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Global styles */
* {
  font-family: 'Roboto', sans-serif;
}

.highlight {
  background: linear-gradient(120deg, #22c55e 0%, #22c55e 100%);
  background-repeat: no-repeat;
  background-size: 100% 30%;
  background-position: 0 60%;
}

.custom-box-shadow {
  box-shadow: 9px 9px 0 -3px #16a34a, 9px 9px 0 0 #16a34a;
}

.custom-image-box-shadow {
  box-shadow: 15px 15px 0 -3px #22c55e, 15px 15px 0 0 #111827;
}

.navbar-scroll {
  background-color: #d1d5db;
}

#hero-section {
  /* background-color: rgb(88, 28, 135);
  background-image: radial-gradient(
      at 69% 15%,
      rgb(79, 70, 229) 0,
      transparent 76%
    ),
    radial-gradient(at 24% 48%, rgb(120, 113, 108) 0, transparent 73%),
    radial-gradient(at 7% 35%, rgb(6, 95, 70) 0, transparent 85%),
    radial-gradient(at 87% 75%, rgb(129, 140, 248) 0, transparent 74%),
    radial-gradient(at 78% 1%, rgb(13, 148, 136) 0, transparent 21%),
    radial-gradient(at 80% 13%, rgb(124, 45, 18) 0, transparent 86%); */
  background: #10182a;
}

.timeInput {
  text-align: right;
}

/* hide and show content for corresponding tabs in task display */
.content {
  display: none;
}

.active-content {
  display: block;
}
/* end of hide/show styles */

/* remove scrollbar for chrome, safari, opera*/
.remove-scrollbar::-webkit-scrollbar {
  display: none;
}

/* remove scrollbar for IE, edge, firefox */
.remove-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
