/* Font imports */
/* Montserrat for headers, Lora for subheaders, Hind Madurai for paragraphs */
@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Tailwind imports */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global styles */
* {
  font-family: 'Montserrat';
}

#hero-section {
  /* background-color: rgb(88, 28, 135);
  background-image: radial-gradient(
      at 69% 15%,
      rgb(79, 70, 229) 0,
      transparent 76%
    ),
    radial-gradient(at 24% 48%, rgb(120, 113, 108) 0, transparent 73%),
    radial-gradient(at 7% 35%, rgb(6, 95, 70) 0, transparent 85%),
    radial-gradient(at 87% 75%, rgb(129, 140, 248) 0, transparent 74%),
    radial-gradient(at 78% 1%, rgb(13, 148, 136) 0, transparent 21%),
    radial-gradient(at 80% 13%, rgb(124, 45, 18) 0, transparent 86%); */
    background: #10182a;
  }

  /* hero section curve styles */
  .curve {
    width: 100%;
    transform: rotate(180deg);
}

.curve svg {
    width: calc(119% + 1.3px);
    height: 93px;
}

.curve .shape-fill {
    fill: white;
}

.timeInput {
  text-align: right;
}
