/* Font imports */
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Tailwind imports */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global styles */
* {
  font-family: 'Lexend';
}

#hero-section {
  /* background-color: rgb(88, 28, 135);
  background-image: radial-gradient(
      at 69% 15%,
      rgb(79, 70, 229) 0,
      transparent 76%
    ),
    radial-gradient(at 24% 48%, rgb(120, 113, 108) 0, transparent 73%),
    radial-gradient(at 7% 35%, rgb(6, 95, 70) 0, transparent 85%),
    radial-gradient(at 87% 75%, rgb(129, 140, 248) 0, transparent 74%),
    radial-gradient(at 78% 1%, rgb(13, 148, 136) 0, transparent 21%),
    radial-gradient(at 80% 13%, rgb(124, 45, 18) 0, transparent 86%); */
    background: #10182a;
  }

  /* hero section curve styles */
  .curve {
    width: 100%;
    transform: rotate(180deg);
}

.curve svg {
    width: calc(119% + 1.3px);
    height: 93px;
}

.curve .shape-fill {
    fill: white;
}

.timeInput {
  text-align: right;
}

/* hide and show content for corresponding tabs in task display */
.content {
  display: none;
}

.active-content {
  display: block;
}

/* remove scrollbar for chrome, safari, opera*/
.remove-scrollbar::-webkit-scrollbar {
  display: none;
}

/* remove scrollbar for IE, edge, firefox */
.remove-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}